.add-form-container{
  text-align: left;
  margin-top:20px;
}
mat-list-item{
  text-align:center;
  border-bottom: 1px solid #8080800f;
}
mat-list-item > div{
  justify-content: space-between;
}
mat-list{
  border: 2px solid #8080800f;
  border-radius: 5px;
  margin: 20px 0px 0px 0px;
}

button{
  text-align: right;
}
.title{
}
form{
  padding:20px;
}
.add_stock_button{
  margin: 20px;
  }
