<!--The content below is only a placeholder and can be replaced.-->


<!--<app-stocks></app-stocks>-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Stock Manager</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'"> Home </a>
      <a mat-button [routerLink]="'/stocks'"> Add stock </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your stocks</span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'"> Home </a>
      <a mat-list-item [routerLink]="'/stocks'"> Add stock </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>

      <div class="example-button-row">
  <button mat-button color="accent" routerLink="">Home</button>
    <button mat-button color="accent" routerLink="stocks">Form</button>
</div>

  </mat-toolbar-row>
</mat-toolbar>
-->
